{% extends "layout.html" %} {% block content %}
<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
  <div class="container">
    <h1 class="display-3">Welcome to Hema Tracker</h1>
    <h3>
      This tool is intended to make it easier to sort and view recorded matches.
      You may search existing matches, view all existing matches, or add a new
      match entry.
    </h3>
  </div>
</div>
<!-- /.jumbotron -->

<div class="container">
  <div class="row">
    <div class="col-lg-4">
      <h2>Search Matches</h2>
      <p>Search matches by fighters, schools, tournaments, or selected tags</p>
      <p>
        <a
          class="btn btn-outline-secondary"
          href="{{ url_for('match.search') }}"
          >Search Matches &raquo;</a
        >
      </p>
    </div>
    <div class="col-lg-4">
      <h2>View Matches</h2>
      <p>
        The complete list of matches available, sorted by tournament and
        fighters.
      </p>
      <p>
        <a href="{{ url_for('match.index') }}" class="btn btn-outline-secondary"
          >All Matches &raquo;</a
        >
      </p>
    </div>
    <div class="col-lg-4">
      <h2>Create Match</h2>
      <p>
        Select the tournament and add youtube video links, and then you'll be
        redirected to a match page where you may add the fighters and any tags
        or notes desired.
      </p>
      <p>
        <a
          href="{{ url_for('match.create') }}"
          class="btn btn-outline-secondary"
          >Create Match &raquo;</a
        >
      </p>
    </div>
  </div>
  <!-- /.row -->
</div>
{% endblock %}
